<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logotype"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SheduleActivity"
            android:label="Жүгүртмө" />
        <activity
            android:name=".AddSubActivity"
            android:label="Сабак кошуу" />
        <activity android:name=".TodayActivity" />
        <activity
            android:name=".WorkPrrammsActivity"
            android:label="Жумушчу программа" />
        <activity
            android:name=".DeleteSubjectActivity"
            android:label="Маалыматты өчүрүү"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".SheduleViewActivity"
            android:label="Сабак" />
        <activity
            android:name=".RenameActivity"
            android:label="Өзгөртүү" />
        <activity
            android:name=".AddWProgramActivity"
            android:label="Маалыматты кошуу"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".WorkProgramViewActivity"
            android:label="Жумушчу программа"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".DeleteWPActivity"
            android:label="Маалыматты өчүрүү"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".OpenPDFActivity"
            />
        <activity
            android:label="Программа ж-ө"
            android:name=".AboutApplicationActivity"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
    </application>

</manifest>